{% extends "layout.html" %}

{% block content %}
<h1>Сайты</h1>
<table class="table" data-test="urls">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Последняя проверка</th>
            <th scope="col">Код ответа</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url[0] }}</td>
            <td>{{ url[1] }}</td>
            <td>{{ url[2].strftime('%Y-%m-%d') }}</td>
            <td>
                {% if url[3] %}
                    {{ url[3].strftime('%Y-%m-%d') }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if url[4] %}
                    {{ url[4] }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('url_detail', id=url[0]) }}">Просмотреть</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}